.bg-primary{
	border: #C0C0C0 5px double;
}

.bg-success{
	border: #C0C0C0 5px double;
}

.bg-info{
	border: #C0C0C0 5px double;
}

.bg-warning{
	border: #C0C0C0 5px double;
}

.bg-danger{
	border: #C0C0C0 5px double;
}


